*.sldprt filter=lfs diff=lfs merge=lfs -text lockable
*.sldasm filter=lfs diff=lfs merge=lfs -text lockable
*.slddrw filter=lfs diff=lfs merge=lfs -text lockable
*.SLDPRT filter=lfs diff=lfs merge=lfs -text lockable
*.SLDASM filter=lfs diff=lfs merge=lfs -text lockable
*.SLDDRW filter=lfs diff=lfs merge=lfs -text lockable
*.stp filter=lfs diff=lfs merge=lfs -text lockable
*.step filter=lfs diff=lfs merge=lfs -text lockable
*.STP filter=lfs diff=lfs merge=lfs -text lockable
*.STEP filter=lfs diff=lfs merge=lfs -text lockable
*.x_t filter=lfs diff=lfs merge=lfs -text lockable
*.x_b filter=lfs diff=lfs merge=lfs -text lockable
*.X_T filter=lfs diff=lfs merge=lfs -text lockable
*.X_B filter=lfs diff=lfs merge=lfs -text lockable
*.sldxml filter=lfs diff=lfs merge=lfs -text lockable
*.SLDXML filter=lfs diff=lfs merge=lfs -text lockable
*.slt filter=lfs diff=lfs merge=lfs -text lockable
*.SLT filter=lfs diff=lfs merge=lfs -text lockable
